body{
    margin:0;
    font-family:Arial;
    background:#0f1115;
    color:#fff;
}

.topbar{
    display:flex;
    justify-content:space-between;
    padding:15px;
    background:#141821;
}

nav a{
    color:#aaa;
    margin-left:10px;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:80px 20px;
}

.hero-box h2{
    font-size:28px;
}

.btn{
    background:#e74c3c;
    padding:12px 18px;
    border-radius:10px;
    color:#fff;
    text-decoration:none;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:15px;
    padding:20px;
}

.card{
    background:#1a1f2a;
    padding:15px;
    border-radius:12px;
}
