body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#0f1115;
    color:#fff;
}

/* HEADER */
header{
    background:#141821;
    padding:15px;
}

/* HERO */
.hero{
    text-align:center;
    padding:20px;
}

/* CONTROLES */
.controls{
    margin-top:10px;
}

#searchInput{
    padding:12px;
    width:260px;
    border-radius:10px;
    border:none;
    outline:none;
}

.filtros{
    margin-top:10px;
}

.filtros button{
    margin:5px;
    padding:8px 12px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    background:#2a2f3a;
    color:#fff;
}

/* GRID */
.container{
    max-width:1200px;
    margin:0 auto;
    padding:10px;
}

#charactersContainer{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(170px,1fr));
    gap:15px;
}

/* CARD */
.card{
    background:#1a1f2a;
    border-radius:15px;
    overflow:hidden;
    cursor:pointer;
    transition:0.2s;
}

.card:hover{
    transform:scale(1.04);
}

.card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.card-info{
    text-align:center;
    padding:10px;
}

/* MODAL */
.modal{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.8);
    justify-content:center;
    align-items:center;
}

.modal-content{
    background:#1e2430;
    padding:20px;
    border-radius:15px;
    width:300px;
    text-align:center;
}

.modal-content img{
    width:100%;
}

#closeModal{
    float:right;
    cursor:pointer;
    font-size:20px;
}
